<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for Flutter dev tools -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required for taking pictures -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Required for picking images from gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>

</manifest>
